@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #152d35;
  --text-color-1: #fff;
  --back-color-contact: #345b63;
  --backg-color-input-container: #d4ecdd;
  --backg-color-chat-arear: #f3f1f5;
  --sender-text-color: #c8c6c6;
  --cancel-btn-backg: #ff4848;
  --cancel-btn-backg-on-hover: #fe8f8f;
  --add-btn-backg: #5de08f;
  --add-btn-backg-on-hover: #97e0b3;
  --notifiy-err-backg: #fcd2d1;
  --notifiy-msg-backg: #dfeeea;
  --bottom-line-color: #acacac;
  --send-msg-back-color: #3DB2FF;
  --chat-background-image: url();
  --contact-background-image: url();
}

html {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  position: relative;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-05{
 margin-top: 0.5rem;
}
.ml-05 {
  margin-left: 0.5rem;
}

.active {
  color: var(--navbar-color) !important;
  position: relative;
  z-index: 1;
}

/* pretty radio */
label>input[type="checkbox"] {
  display: none;
}

label>input[type="checkbox"]+*::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.8rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
  flex-shrink: 0;
}

label>input[type="checkbox"]:checked+* {
  color: teal;
}

label>input[type="checkbox"]:checked+*::before {
  content: "✓";
  color: white;
  background: teal;
  border-color: teal;
  text-align: center;
}


.checkbox-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--text-color-1);
  border-bottom: 1px solid;
  height: 4rem;

}

.checkbox-wrapper label {
  padding: 1rem 1rem;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--text-color-1) !important;
  border-radius: 0.7rem 0.7rem 0 0;
  z-index: -2;
}

.on-conversation {
  /*grid-template-rows: 0.5fr 5fr 0.3fr !important;*/
}

.user-ID {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backg-color-input-container);
  font-size: 1rem;
}

.user-ID span {
  padding-left: 0.5rem;
  color: var(--bottom-line-color);
}

.border-radius-bottom-l {
  border-radius: 0 0 0 0.7rem !important;
}

.border-radius-bottom-r {
  border-radius: 0 0 0.7rem 0 !important;
}

.icon-bobble {
  align-items: center;
  background-color: var(--back-color-contact);
  border-radius: 50%;
  color: var(--text-color-1);
  display: flex;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  padding: 1rem;
  right: 1rem;
  bottom: 2.8rem;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: var(--backg-color-chat-arear);
  background-color: transparent;
}


.notifiy-contaner {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 4;
  top: 30px;
  transition: all 100ms ease-in-out;
  transform: translateY(-100px);
  opacity: 0;
}

.notifiy-container {
  transform: translateY(0);
  opacity: 1;
}

.notifiy-err {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  max-width: 450px;

  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.164), 1px 3px 3px rgba(0, 0, 0, 0.103),
    1px 4px 2px rgba(0, 0, 0, 0.041);
}

.notifiy-err p {
  font-size: 17px;
  padding: 0.5rem;
}

.notifiy-err-color-red {
  background-color: var(--notifiy-err-backg);
  color: var(--navbar-color);
}

.notifiy-msg-color {
  background-color: var(--notifiy-msg-backg);
  color: var(--navbar-color);
}

.selected {
  position: relative;
  overflow: hidden;
}

.selected::before {
  background-color: var(--add-btn-backg);
  opacity: 1;
  transform: translateX(0);
}

.create-group span,
.add-contact span,
.all-groups span,
.all-msg span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.input-container,
.navbar,
.cont-body-container {
  padding: 0.5rem;
}

.msg-arear,
.contact-container,
.msg-container {
  height: 100vh;
}

.login-display {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 100ms ease-in-out;
  transform: scale(0, 0);
  opacity: 0;
}

.show-login-display {
  transform: scale(1, 1);
  opacity: 1;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--backg-color-chat-arear);
  background-image: var(--chat-background-image);
}

.form-container {
  border-radius: 0.5rem;
  margin: 2rem auto;
  width: 30rem;
  overflow: hidden;
}

.form-title {
  background-color: #082032;
  color: #fff;
  padding: 2rem 1rem;
}

.form-wrapper {
  background-color: #fff;
  padding: 5rem 2rem 3rem 2rem;
}

.form-control {
  border: solid rgb(161, 159, 159) 1px;
  border-radius: 0.325rem;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  font-size: 18px;
  outline: 0;
}

.form-control:focus {
  border: solid #082032 1px;
}

.form-btn {
  background-color: #fff;
  border: solid #082032 1px;
  border-radius: 0.325rem;
  width: 100%;
  padding: 0.8rem;
  text-align: center;
  font-size: 20px;
}

.form-btn:hover {
  background-color: #082032;
  color: #fff;
}

.form-btn-link {
  border: none;
  background-color: transparent;
  color: #082032;
  font-size: 20px;
}

.form-btn-link:hover {
  text-decoration: underline;
}

.navbar {
  background-color: var(--navbar-color);
  color: var(--text-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.menu {
  justify-content: center;
  align-items: center;
  transition: all 100ms ease-out;
}

.brand {
  margin-left: 1.5rem;
  color: var(--text-color-1);
}

.call-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
  padding: 0 0.5rem;
  height: 100%;
  transition: all 100ms ease-in-out;
}

.show-call-container {
  transform: scale(1, 1);
  opacity: 1;
  pointer-events: unset;
}

.call-container button {
  background-color: transparent;
  color: var(--text-color-1);
  padding: 0;
  height: 100%;
  font-size: 18px;
}

.call-btn-video {}

.call-btn-voice {}

.msg-arear {
  background-color: var(--backg-color-chat-arear);
  background-image: var(--chat-background-image);
  display: grid;
  position: relative;
}

.contact-container {
  display: grid;
  grid-template-rows: .5fr .5fr 5fr 0.5fr;
  width: 100%;
  position: absolute;
  transition: 150ms all ease-in-out;
  transform: translateX(-500px);
  opacity: 0;
  pointer-events: none;
}

.contact-container.show {
  transform: translateX(0);
  opacity: 1;
  pointer-events: unset;
}

.contact-wrapper {
  background-color: var(--text-color-1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.all-msg,
.all-groups,
.add-contact,
.create-group {
  background-color: var(--back-color-contact);
  color: var(--text-color-1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.create-group-container {
  display: grid;
  grid-template-columns: 1fr;
}

.add-contact,
.create-group {
  background-color: var(--back-color-contact);
}

.create-group:hover,
.add-contact:hover {
  background-color: var(--add-btn-backg);
  color: var(--navbar-color);
}

.add-container {
  background-color: var(--back-color-contact);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 100ms ease-in;
  z-index: 3;
}

.add-wrapper {
  background-color: var(--backg-color-input-container);
  border-radius: 0.5rem;
  width: calc(100% - 2rem);
  transition: all 100ms ease-in;
}

.add-container.show-add-modal>.add-wrapper {
  opacity: 1;
}

.add-wrapper .title {
  text-align: center;
  padding-top: 1rem;
}

.add-input-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.label {
  margin-top: 0.5rem;
  font-size: 18px;
}

.input {
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
  font-size: 17px;
  height: 2.5rem;
  outline: none;
}

.input:focus {
  border: solid 1px var(--back-color-contact);
}

.add-btn-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 2rem 0;
}

.add-btn-container button,
.add-btn-container div {
  border: none;
  border-radius: 0.5rem;
  font-size: 18px;
  width: 7rem;
  height: 3rem;
  text-align: center;
}

.cancel-btn {
  background-color: var(--cancel-btn-backg);
}

.cancel-btn:hover {
  background-color: var(--cancel-btn-backg-on-hover);
}

.add-btn {
  background-color: var(--add-btn-backg);
}

.add-btn:hover {
  background-color: var(--add-btn-backg-on-hover);
}

.hist-contacts {
  background-color: var(--text-color-1);
  overflow-y: auto;
}

.cont-body-container {
  background-color: var(--text-color-1);
  border-bottom: solid 1px var(--bottom-line-color);
  padding: 0.5rem 1rem;
  height: 4rem;
  cursor: pointer;
}

.cont-body-container:hover {
  background-color: var(--add-btn-backg-on-hover);
}

.msg-container {
  display: grid;
  grid-template-rows: .5fr 4fr .5fr;
  flex-grow: 1;
}

.chating-with {
  background-color: var(--add-btn-backg-on-hover);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chating-with span {
  font-size: 14px;
  font: optional;
  color: var(--back-color-contact);
}

.chat-arear {
  display: grid;
  overflow-y: auto;
  padding: .5rem
}

.chat-flex {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  flex-direction: column;
}

.message-bubble {
  display: flex;
  flex-direction: column;
  padding: .2rem 0;
}

.message-bubble-sended {
  align-self: end;
  align-items: end;
}

.message-bubble-recived {
  align-items: start;
}

.text-msg-wrapper-sended {
  background-color: var(--send-msg-back-color);
  color: var(--text-color-1);
}

.text-msg-wrapper-received {
  background-color: var(--text-color-1);
}

.text-msg-wrapper {
  border-radius: 0.3rem;
  padding: .3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 322px;
  font-size: 16px;
}

.text-msg-wrapper,
.cont-body-container .user-nametext {
  word-wrap: break-word;
}

.user-name-text {
  font-size: 17px;
  pointer-events: none;
}

.sender-name {
  color: var(--sender-text-color);
  font-size: 12px;
}

.sender-name-you {
  text-align: right !important;
  border: solid red;

}

.input-container {
  background-color: var(--backg-color-input-container);
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.write-message {
  border: 1px solid var(--back-color-contact);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 80%;
  font-size: 14px;
  outline: none;
  resize: none;
  min-height: 1rem;
  text-indent: 1px;
  font: optional;
}


.send-btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--navbar-color);
  padding: 0;
  width: 3rem;
  height: 3rem;
}

.conversation-container {
  background-color: var(--back-color-contact);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.conversation-wrapper {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
  position: relative;
  height: 100%;
}

.group-conversation-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.group-conversation-wrapper .hist-contacts {
  flex: 1;
}

.group-conversation-wrapper .btn{
  font-size: 16px;
  height: 3rem;
}

.group-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--text-color-1);
  padding:0 0.5rem 0.5rem 0.5rem;
}

.group-name input {
  border: solid 1px;
  width: 100%;
}

.conversation-container .hist-contacts {
  background-color: var(--backg-color-chat-arear);
}

.conversation-btn-container {
  display: none;
}

.conversation-btn-container .cancel-btn {
  border-radius: 0.5rem;
  width: calc(100% - 10rem);
  font-size: 1.2rem;
}

.conversation-title {
  display: flex;
  align-items: center;
  color: var(--text-color-1);
  font-size: 1.2rem;
}

.conversation-title button {
  width: 4rem;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .msg-arear {
    grid-template-columns: 1.5fr 3fr;
  }

  .contact-container {
    position: static;
    transform: translateX(0);
    opacity: 1;
    pointer-events: unset;
  }

  .menu {
    display: none;
  }

  .all-msg:hover,
  .all-groups:hover {
    background-color: var(--navbar-color);
  }

  .conversation-wrapper {
    grid-template-rows: 0.5fr 5fr 0.5fr;
  }

  .conversation-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
  }
}